@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}
.deformation {
  display: flex;
  justify-content: center;
  height: 800px;
  perspective: 400px;
  color: yellow;
  font-family: "Dela Gothic One", cursive;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: center;
}
.text {
  position: relative;
  transform-origin: 50% 100%;
  animation: text 60s linear;
}
.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

h1 {
}
@keyframes text {
  0% {
    top: 0px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -7000px;
    transform: rotateX(21deg) translateZ(-2500px);
  }
  
}
